/bootstrap/compiled.php
/vendor
.DS_Store
Thumbs.db
/bower_components
.env
/.idea
npm-debug.log
sftp-config.json
.phpstorm.meta.php
_ide_helper_models.php
/storage/app/backup
/storage/cache_keys.json
/storage/languages.json

__MACOSX
node_modules
/.phpintel

