@import "normalize";
@import "style";
@import "responsive";
@import "general";
@import "font-awesome";
@import "jquery.fancybox";

#cfacebook {
    right : 70px !important;
}

.list-tag a {
    display          : inline-block;
    height           : 21px;
    margin           : 0 10px 0 0;
    padding          : 0 7px 0 14px;
    white-space      : nowrap;
    position         : relative;
    background       : -webkit-gradient(linear, left top, left bottom, color-stop(0, #fed970), color-stop(100%, #febc4a));
    background       : -webkit-linear-gradient(top, #fed970, #febc4a);
    background       : linear-gradient(180deg, #fed970 0, #febc4a);
    background-color : #fec95b;
    color            : #996633;
    font-size        : 11px;
    line-height      : 19px;
    text-decoration  : none;
    text-shadow      : 0 1px hsla(0, 0%, 100%, .4);
    border-top       : 1px solid #edb14a;
    border-right     : 1px solid #dca03b;
    border-radius    : 1px 3px 3px 1px;
    box-shadow       : inset 0 1px #fee395, 0 1px 2px rgba(0, 0, 0, .21)
}

.list-tag a, .list-tag a:before {
    border-bottom : 1px solid #ce922e
}

.list-tag a:before {
    content           : '';
    position          : absolute;
    top               : 5px;
    left              : -6px;
    width             : 10px;
    height            : 10px;
    background        : -webkit-gradient(linear, left bottom, right top, color-stop(0, #fed970), color-stop(100%, #febc4a));
    background        : -webkit-linear-gradient(-45deg, #fed970, #febc4a);
    background        : linear-gradient(135deg, #fed970, #febc4a);
    background-color  : #fec95b;
    border-left       : 1px solid #edb14a;
    border-radius     : 0 0 0 2px;
    box-shadow        : inset 1px 0 #fedb7c, 0 2px 2px -2px rgba(0, 0, 0, .33);
    -webkit-transform : scaleY(1.5) rotate(45deg);
    transform         : scaleY(1.5) rotate(45deg)
}

.list-tag a:after {
    content       : '';
    position      : absolute;
    top           : 7px;
    left          : 1px;
    width         : 5px;
    height        : 5px;
    background    : #ffffff;
    border-radius : 4px;
    border        : 1px solid #dca03b;
    box-shadow    : 0 1px 0 hsla(0, 0%, 100%, .2), inset 0 1px 1px rgba(0, 0, 0, .21)
}

.list-tag a:hover {
    color       : #ffffff;
    text-shadow : -1px -1px 0 rgba(153, 102, 51, .3)
}

.list-tag a:first-child {
    margin-left : 10px
}

.list-tag .tag-list-title {
    display       : inline-block;
    padding-right : 7px;
}

form .form-group {
    margin : 15px 0;
}

form .form-group label, form .form-group p {
    display : none;
}

form .form-group .form-control {
    display            : block;
    width              : 85%;
    padding            : 6px 12px;
    background-color   : #ffffff;
    background-image   : none;
    border-radius      : 0;
    -webkit-box-shadow : inset 0 1px 1px rgba(0, 0, 0, .075);
    transition         : border-color .15s ease-in-out, box-shadow .15s ease-in-out,
    -webkit-box-shadow .15s ease-in-out;
    line-height        : 1.42857143;
    color              : #555555;
    border             : 1px solid #e0e0e0;
    box-shadow         : none;
    outline            : none;
}

form .form-group .form-control:focus {
    border : 1px solid #333333;
}

form .form-group .btn {
    margin-bottom       : 0;
    font-weight         : 400;
    text-align          : center;
    vertical-align      : middle;
    -ms-touch-action    : manipulation;
    touch-action        : manipulation;
    cursor              : pointer;
    background-image    : none;
    white-space         : nowrap;
    border-radius       : 0;
    -webkit-user-select : none;
    -moz-user-select    : none;
    -ms-user-select     : none;
    user-select         : none;
    font-size           : 14px;
    height              : 39px;
    border-right        : 0 none;
    padding             : 0 20px;
    position            : relative;
    display             : inline-block;
    line-height         : 35px;
    background-color    : #aa0909;
    border-color        : #aa0909;
    color               : #ffffff;
    outline             : none;
}

form .form-group .btn:hover {
    background   : #e22e2b;
    border-color : #e22e2b;
}

.alert-success {
    color            : #3c763d;
    background-color : #dff0d8;
    border-color     : #d6e9c6;
}

.alert {
    padding       : 15px;
    margin-bottom : 20px;
    border        : 1px solid transparent;
    border-radius : 0;
    max-width     : 84.2%;
}

.alert-danger {
    color            : #a94442;
    background-color : #f2dede;
    border-color     : #ebccd1;
}

h1.logo a {
    line-height : 70px;
    font-size   : 45px;
    color       : #222222;
}

h1.logo a span {
    font-weight : 700;
    color       : #aa0909;
}

.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}

.single-content input {
    max-width : 100%;
    outline: none;
}

.show-admin-bar .main-nav {
    top : 40px;
}